<div class= "container">
  <div class="row">
    <label class="text-white bg-secondary px-3"><h4>マイページ</h4></label>
  </div>
</div>

<div class="container">
  <div class="row my-2">
<h4>登録情報</h4>
<%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
</div>
</div>

<div class="container">
  <div class="row">
<table class="table border" rules="cols">
  <tr>
    <th>氏名</th>
    <td><%= current_customer.last_name + current_customer.first_name %></td>
  </tr>

  <tr>
    <th>カナ</th>
    <td><%= current_customer.last_name_kana + current_customer.first_name_kana %></td>
  </tr>

  <tr>
    <th>郵便番号</th>
    <td><%= current_customer.postal_code %></td>
  </tr>

  <tr>
    <th>住所</th>
    <td><%= current_customer.address %></td>
  </tr>

  <tr>
    <th>電話番号</th>
    <td><%= current_customer.telephone_number %></td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td><%= current_customer.email %></td>
  </tr>
</table>
</div>
</div>

<div class="container">
  <div class="row my-2">
<h4>配送先</h4>
<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary mx-3"  %>
</div>
</div>

<div class="container">
  <div class="row my-2">
<h4>注文歴</h4>
<%= link_to "一覧を見る", orders_path, class: "btn btn-primary mx-3"  %>
</div>
</div>


