<h1>管理者の商品編集ページ</h1>

<%= form_with model: @item, url: admin_item_path(@item), method: :patch, local:true do |f| %>

<div>
<label>商品画像</label>
<%= f.attachment_field :image %>
</div>

<div>
<label>商品名</label>
<%= f.text_field :name %>
</div>

<div>
<label>商品説明</label>
<%= f.text_area :introduction %>
</div>

<div>
<label>ジャンル</label>
<% @genres.each do |genre| %>
      <%= f.select :genre_id, [[genre.name, genre.id]], include_blank: "--選択してください--"  %>
<% end %>
</div>

<div>
<label>税抜き価格</label>
<%= f.text_field :price %>
</div>

<div>
<label>販売ステータス</label>
<%= f.radio_button :is_active, true %>販売中
<%= f.radio_button :is_active, false %>販売停止中
</div>

<%= f.submit "変更を保存" %>
<% end %>
