<div class="container">


<label class="bg-secondary text-white"><h4 class="px-3">商品一覧</h4></label>

<%= link_to new_admin_item_path do %>
<i class="fas fa-plus btn btn-primary"></i>
<% end %>

<div class="row">
<table class="table">
  <thead>
    <tr>
    　<th scop="col">商品ID</th>
    　<th scop="col">商品名</th>
      <th scop="col">税抜き価格</th>
      <th scop="col">ジャンル</th>
      <th scop="col">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to "#{item.name}", admin_item_path(item) %></td>
      <td><%= item.price.to_s(:delimited) %></td>
      <td><%= item.genre.name %></td>
      <td><% if item.is_active %>
            <span class="text-success">販売中</span>
          <% else %>
            <span class="text-muted">販売停止中</span>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

  <%= paginate @items %>

