<h1>管理者の注文履歴詳細ページ</h1>
<p>--注文履歴詳細--</p>

<p>購入者  <%= link_to "#{@order.name}", admin_customer_path(@order.customer_id) %></p>
<p>注文日  <%= @order.created_at.strftime('%Y/%m/%d') %></p>

<p>

配送先
  〒<%= @order.postal_code.to_s.insert(3, "-") %>
  <%= @order.address %>
    <div>
      <%= @order.name %>
    </div>
</p>

<p>
  注文ステータス
  <%= form_with model:@order, url:admin_order_path(@order), method: :patch, local: true do |f| %>
  <%= f.select :order_status, Order.order_statuses.keys.to_a, {} %>
  <%= f.submit "更新" %>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% sum = 0 %>
      <% @order_details.each do |order_detail| %>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.price %></td>
      <td><%= order_detail.amount %></td>
      <td>
        <% sub_total = order_detail.item.price*order_detail.amount %>
        <%= sub_total %>
        <% sum += sub_total %>
      </td>

      <td>
        <%= form_with model:order_detail, url:admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
        <%= f.select :making_status, OrderDetail.making_statuses.keys.to_a, {} %>
        <%= f.submit "更新" %>
        <% end %>
      </td>




      <% end %>
    </tr>
  </tbody>
</table>

<p>商品合計<%= sum %>円</p>

<p>送料<%= @order.shipping_cost %>円</p>

<p>請求金額合計<%= @order.billing_amount %>円</p>

