<div class="container">
<label class="bg-secondary text-white"><h4 class="px-3">注文履歴一覧</h4></label>

<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scop="col">購入日時</th>
      <th scop="col">購入者</th>
      <th scop="col">注文個数</th>
      <th scop="col">注文ステータス</th>
    </tr>
   </thead>

   <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.created_at}", admin_order_path(order) %></td>
        <td><%= order.customer.last_name + order.customer.first_name %></td>

        <td>
          <% sum = 0 %>
          <% order.order_details.each do |order_detail| %>
          <% sum += order_detail.amount %>
          <% end %>
          <%= sum %>
        </td>

        <td><%= order.order_status %></td>
      </tr>
    <% end %>

   </tbody>
  </table>

</div>
</div>
<%= paginate @orders, class: "mx-auto" %>