<div class="container">
<label class="bg-secondary text-white"><h4 class="px-3">配送先編集</h4></label>

<div class="container">
<%= form_with model: @address, url:address_path(@address), method: :patch, local: true do |f| %>

 <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="postal_code">郵便番号(ハイフンなし)</label>
      <div class= "col-sm-9">
        <%= f.text_field :postal_code %>
      </div>
  </div>


 <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="address">住所</label>
      <div class= "col-sm-9">
        <%= f.text_field :address %>
      </div>
  </div>


<div class="form-group row">
    <label class="col-sm-3 col-form-label" for="name">宛名</label>
      <div class= "col-sm-9">
        <%= f.text_field :name %>
        <%= f.submit "変更内容の保存", class: "btn btn-success mx-5" %>
      </div>
</div>
<% end %>

</div>
</div>