<h1>エンドユーザの配送先一覧と配送先登録ページ</h1>

<p>配送先登録/一覧</p>
<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました。
  <%= @address.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@address, url:addresses_path, method: :post, local: true do |f| %>
<p>郵便番号(ハイフンなし)</p>
  <%= f.text_field :postal_code %>
<p>住所</p>
  <%= f.text_field :address %>
<p>宛名</p>
  <%= f.text_field :name %>
  <%= f.submit "新規登録" %>
<% end %>

  <table>
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
          <% @addresses.each do |address| %>
        <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to "編集する", edit_address_path(address) %></td>
            <td><%= link_to "削除する", address_path(address), method: :delete, data:{confirm: "本当に削除しますか？"} %></td>
          <% end %>
        </tr>
      </tbody>
  </table>