<div class= "container">
  <div class="row">
    <label class="mx-auto text-white bg-secondary px-3"><h4>注文情報確認画面</h4></label>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
<table class="table border" rules="cols">
  <thead>
    <tr>
      <th scop="col">商品名</th>
      <th scop="col">単価（税込み）</th>
      <th scop="col">数量</th>
      <th scop="col">小計</th>
    </tr>
  </thead>

  <tbody>
    <% sum = 0 %>
    <% @cart_items.each do |cart_item| %>
      <tr>

        <td><%= attachment_image_tag cart_item.item, :image, :fill, 30, 30 %><%= cart_item.item.name %></td>
        <td><% price = cart_item.item.price * 1.1 %>
            <%= price.round.to_s(:delimited) %>
        </td>
        <td><%= cart_item.amount %></td>

          <% sub_total = price.round*cart_item.amount %>
        <td>
          <%= sub_total.to_s(:delimited) %>
        </td>
          <% sum += sub_total %>
      </tr>
    <% end %>


  </tbody>
</table>
</div>

<div class="col-6">
<table class="table border" rules="cols">
      <tr>
        <th>送料</th>
          <td><%= @order.shipping_cost.to_s(:delimited) %></td>
      </tr>

      <tr>
        <th>商品合計</th>
          <td><%= sum.to_s(:delimited) %></td>
      </tr>

      <tr>
        <th>請求金額</th>
          <td>
            <% @order.billing_amount = sum + @order.shipping_cost %>
            <%= @order.billing_amount.to_s(:delimited) %>
          </td>
      </tr>
</table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class= "container">
  <div class="row">
    <div class="col-8">
<p>
  <h3>支払い方法</h3>
<%= @order.method_of_payment %>
</p>

<p>
  <h3>お届け先</h3>
<%= @order.postal_code + @order.address + @order.name %>
</p>

<%= form_with model:@order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :postal_code, :value => @order.postal_code %>
  <%= f.hidden_field :address, :value => @order.address %>
  <%= f.hidden_field :name, :value => @order.name %>
  <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
  <%= f.hidden_field :billing_amount, :value => @order.billing_amount %>
  <%= f.hidden_field :method_of_payment, :value => @order.method_of_payment %>
  <%= f.submit "注文を確定する", class: "btn btn-success" %>
<% end %>
  </div>
</div>