<div class= "container">
  <div class="row">
    <label class="mx-auto text-white bg-secondary px-3"><h4>注文歴一覧</h4></label>
  </div>
</div>

<div class="row col-6 offset-3">
<table class="table border" rules="cols">
  <thead>
    <tr>
      <th scop="col">注文日</th>
      <th scop="col">配送先</th>
      <th scop="col">注文商品</th>
      <th scop="col">支払い金額</th>
      <th scop="col">ステータス</th>
      <th scop="col">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>

      <td>
        〒<%= order.postal_code %><br>
        <%= order.address %><br>
        <%= order.name %>
      </td>

        <td>
        <% order.order_details.each do |order_detail| %>
          <p>
            <%= order_detail.item.name %>
          </p>
        <% end %>
        </td>

        <td><%= order.billing_amount %></td>

        <td><%= order.order_status %></td>

        <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
