<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/11777b6ae6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">

        <%= link_to admin_root_path(order_sort: 1) do %>
          <%= image_tag 'logo.jpeg', size: '50x50'%>
        <% end %>

          <ul class="navbar-nav ml-auto">

              <li class="nav-item btn btn-outline-dark bg-light mx-2">
              <%= link_to '商品一覧', admin_items_path %>
              </li>

              <li class="nav-item btn btn-outline-dark bg-light mx-2">
              <%= link_to '会員一覧', admin_customers_path %>
              </li>

              <li class="nav-item btn btn-outline-dark bg-light mx-2">
              <%= link_to '注文履歴一覧', admin_root_path %>
              </li>

               <li class="nav-item btn btn-outline-dark bg-light mx-2">
              <%= link_to 'ジャンル一覧', admin_genres_path %>
              </li>

              <li class="nav-item btn btn-outline-dark bg-light mx-2">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
              </li>

          </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
